* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

a {
    text-decoration: none;
    color: white;

}

a:hover {
    cursor: pointer;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

header nav ul {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    font-weight: 1000;
}

header h2 {
    margin-right: 871px;
    font-weight: 35px;
    text-transform: uppercase;

}

header nav ul li {
    list-style-type: none;
    margin: 0px 20px;
    font-size: 15px;
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a.banner-btn,
a.about-btn {
    background-color: crimson;
    border-radius: 50px;
    padding: 10px 20px;
    text-transform: uppercase;
    color: white;
}

a:hover {
    letter-spacing: 6px;
    cursor: pointer;
}

.banner-area h1 {
    margin-bottom: 30px;
    font-size: 70px;
    text-transform: uppercase;
    color: white;
}

.banner-area h3 {
    margin-bottom: 40px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 1000;
    color: white;
}

.banner-area {
    position: relative;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.banner-img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url('assets/images.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: changeImage;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;   
}

@keyframes changeImage {
    0%{
        background-image: url(assets/amsterdam.jpg);
    }
    25%{
        background-image: url(assets/Moraine-Lake.jpg);
    }
    100%{
        background-image: url(assets/images.png);
    }
}
/************************************/
div.flex-container {
    display: flex;
    justify-content: center;
    width: 60%;
    height: 200px;
}

div.left {
    height: 250px;
    width: 100px;
    flex-basis: 50%;
    background-image: url('assets/lavender.jpg'); 
    background-size: contain;
    background-repeat: no-repeat;  
}

div.right {
    flex-basis: 50%;
    padding-left: 20px;
}

div.right h2 {
    margin-bottom: 20px;
}

div right p {
    margin-bottom: 20px;
    text-align: justify;
}

.section-title {
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 5%;
    margin-top: 5%;
}

/******************************/
.services-area{
    background-color: rgb(192, 225, 225);
    margin-top: 80px;
}
.services-area .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.services-card {
    flex-basis: 25%;
}

.section-card h4 {
    font-size: 22px;
    margin-bottom: 20px;
    margin-top:20%
}

.contact-area .flex-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.contact-card i{
    display: flex;
    flex-direction: row;    
    justify-content: center;
}



.contact-card h4 {
    text-align: justify;

}

footer p {
    display: flex;
    background-color: aqua;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-weight: 1000;
    position: sticky;
    bottom: 0;
    
}

/**************Mobile*****************/
/*Mobile view for navbar*/
/* @media only screen and (max-width: 600px){
    body{
        background-color: red;
    }   

    header {
        flex-direction: column;    
        align-items: center;
        justify-content: center;
    }

} */

@media(max-width: 798px) {
    /* header{
        flex-direction:column;
        align-items: center;
        justify-content: center;

    }
    header h2 {
        font-size: 20px;
        margin: auto auto;
         flex-direction:column;
        align-items: center;
        justify-content: center
      
    } */

    header h3 {
        font-size: 1em
    }


    .banner-area h1 {
        margin-bottom: 30px;
        font-size: 40px;
        text-transform: uppercase;
    }

    .banner-area h3 {
        margin-bottom: 40px;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 1000;
    }

    div.right {
        font-size: 1em
    }

    .section-title {
        font-size: 20px;
        font-weight: 100%;
        margin-bottom: 2%;
        margin-top: 30%;
    }

    .services-area .flex-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 4%;
    }

    .contact-area .flex-container {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        margin-top: -11%;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        text-transform: uppercase;
        font-weight: 1000;
    }

}

/****************************************/